
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserDashboardLabel" translate="openBoxApp.userDashboard.home.addModule">Create or edit a UserDashboard</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label translate="openBoxApp.userDashboard.module" for="field_module">Module</label>
            <select class="form-control" id="field_module" name="module" ng-model="vm.pickedModuleId" ng-options="module.id as module.name for module in vm.modules">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="!vm.pickedModuleId || editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span translate="entity.action.add">Add</span>
        </button>
    </div>
</form>
