
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserDashboardLabel" translate="openBoxApp.userDashboard.home.createOrEditLabel">Create or edit a UserDashboard</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userDashboard.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.userDashboard.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.userDashboard.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.userDashboard.columns" for="field_columns">Columns</label>
            <rzslider id="field_columns"
                rz-slider-model="vm.userDashboard.columns" name="columns"
                      rz-slider-options="{floor: 1, ceil: 10}"></rzslider>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
