
<div>
    <style>
        .gridster .gridster-item {
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            color: #000;
            background: #ffffff;
            padding: 0px;
        }
        .gridster-item-inner {
            margin: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            overflow-x: hidden;
            overflow-y: auto;
        }
        .gridster .gridster-preview-holder {
            background: rgba(0, 0, 0, 0.5);
        }
        .gridster .modal-header {
            margin-bottom: 10px;
        }
    </style>
    <h2 style="display: inline-block">{{vm.userDashboard.name}}</h2>
    <div class="pull-right btn-group flex-btn-group-container" style="margin-top:21px">

        <button type="submit" ng-hide="!editMode"
                ui-sref="{{admin ? 'just-user-dashboard-detail.add' : 'user-dashboard-detail.add({id:vm.userDashboard.id})'}}"
                class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="hidden-xs hidden-sm" translate="entity.action.add"></span>
        </button>
        <button type="submit" ng-hide="!editMode"
                ui-sref="{{admin ? 'just-user-dashboard-detail.edit' : 'user-dashboard-detail.edit({id:vm.userDashboard.id})'}}"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
        </button>
        <button type="submit" ng-hide="!editMode"
                id="saveButton"
                ng-click="save($event)"
                disabled="true"
                class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span class="hidden-xs hidden-sm" translate="entity.action.save"></span>
        </button>
        <div style="padding: 0 10px;"></div>
        <button type="button" class="btn btn-primary btn-sm" ng-class="{'active': editMode }" ng-click="toggleEditMode()" data-toggle="button" aria-pressed="false" autocomplete="off">
            <span class="glyphicon glyphicon glyphicon-edit"></span>
            <span class="hidden-xs hidden-sm" translate="entity.action.editMode"></span>
        </button>
    </div>
    <hr>
    <div ng-hide="!editMode">
        <h3>Columns</h3>
        <rzslider
            rz-slider-model="gridsterOpts.columns"
            rz-slider-options="{floor: 1, ceil: 10}"></rzslider>
    </div>
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="item" ng-repeat="item in items">
                <div class="gridster-item-inner">
                    <div class="modal-header modal-header-confirm">
                        <h4 class="modal-title">
                            {{item.module.name}}
                            <a ng-hide="!editMode" title="Close"><i ng-click="closeModule(item)" class="glyphicon glyphicon-remove icon-arrow-right pull-right"></i></a>
                        </h4>
                    </div>
                    <div class="container-fluid" ng-bind-html="deliberatelyTrustDangerousSnippet(item.module.code)"></div>
                        <!--ng-scrollbars ng-scrollbars-config="config" -->
                </div>
            </li>
        </ul>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
