<div>
    <h2 translate="openBoxApp.userDashboard.home.title">UserDashboards</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-dashboard.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="openBoxApp.userDashboard.home.createLabel">
                        Create new UserDashboard
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="openBoxApp.userDashboard.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="columns"><span translate="openBoxApp.userDashboard.columns">Columns</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="userDashboard in vm.userDashboards track by userDashboard.id">
                    <td><a ui-sref="user-dashboard-detail({id:userDashboard.id})">{{userDashboard.id}}</a></td>
                    <td>{{userDashboard.name}}</td>
                    <td>{{userDashboard.columns}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-dashboard-detail({id:userDashboard.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-dashboard.edit({id:userDashboard.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-dashboard.delete({id:userDashboard.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
