
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModuleLabel" translate="openBoxApp.module.home.createOrEditLabel">Create or edit a Module</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.module.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.module.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.module.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.module.enabled" for="field_enabled">Enabled</label>
            <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                    ng-model="vm.module.enabled"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.module.code" for="field_code">Code</label>
                <textarea style="height: 500px;" class="form-control" name="code" id="field_code"
                    ng-model="vm.module.code"  />
        </div>

        <div class="form-group">
            <label translate="openBoxApp.module.user_created_module" for="field_user_created_module">user_created_module</label>
            <select class="form-control" id="field_user_created_module" name="user_created_module" ng-model="vm.module.user_created_moduleId" ng-options="user.id as user.login for user in vm.users">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
