<div>
    <h2 translate="openBoxApp.module.home.title">Modules</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid"
         has-authority="ROLE_ADMIN">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="module.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="openBoxApp.module.home.createLabel">
                        Create new Module
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="openBoxApp.module.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ROLE_ADMIN" jh-sort-by="enabled"><span translate="openBoxApp.module.enabled">Enabled</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ROLE_ADMIN" jh-sort-by="code"><span translate="openBoxApp.module.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user_created_moduleLogin"><span translate="openBoxApp.module.user_created_module">user_created_module</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="module in vm.modules track by module.id">
                    <td><a ui-sref="module-detail({id:module.id})">{{module.id}}</a></td>
                    <td>{{module.name}}</td>
                    <td has-authority="ROLE_ADMIN">{{module.enabled}}</td>
                    <td has-authority="ROLE_ADMIN"><pre style="max-height:400px;white-space: pre-wrap;">{{module.code}}</pre></td>
                    <td>
                        {{module.user_created_moduleLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="module-detail({id:module.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    has-authority="ROLE_ADMIN"
                                    ui-sref="module.edit({id:module.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    has-authority="ROLE_ADMIN"
                                    ui-sref="module.delete({id:module.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
