
<div>
    <h2><span translate="openBoxApp.module.detail.title">Module</span> {{vm.module.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="openBoxApp.module.name">Name</span></dt>
        <dd>
            <span>{{vm.module.name}}</span>
        </dd>
        <hr>
        <dt has-authority="ROLE_ADMIN"><span translate="openBoxApp.module.enabled">Enabled</span></dt>
        <dd has-authority="ROLE_ADMIN">
            <span>{{vm.module.enabled}}</span>
        </dd>
        <hr has-authority="ROLE_ADMIN">
        <dt has-authority="ROLE_ADMIN"><span translate="openBoxApp.module.code">Code</span></dt>
        <dd has-authority="ROLE_ADMIN">
            <pre style="max-height:400px;white-space: pre-wrap;">{{vm.module.code}}</pre>
        </dd>
        <hr has-authority="ROLE_ADMIN">
        <dt><span translate="openBoxApp.module.test">Test</span></dt>
        <dd>
            <div ng-bind-html="deliberatelyTrustDangerousSnippet()"></div>
        </dd>
        <hr>
        <dt><span translate="openBoxApp.module.user_created_module">user_created_module</span></dt>
        <dd>
            {{vm.module.user_created_moduleLogin}}
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
