
<div>
    <h2><span translate="openBoxApp.moduleBounds.detail.title">ModuleBounds</span> {{vm.moduleBounds.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="openBoxApp.moduleBounds.rowPos">RowPos</dt></dt>
        <dd>
            <span>{{vm.moduleBounds.rowPos}}<span>
        </dd>
        <hr>
        <dt><span translate="openBoxApp.moduleBounds.colPos">ColPos</dt></dt>
        <dd>
            <span>{{vm.moduleBounds.colPos}}<span>
        </dd>
        <hr>
        <dt><span translate="openBoxApp.moduleBounds.rowSpan">RowSpan</dt></dt>
        <dd>
            <span>{{vm.moduleBounds.rowSpan}}<span>
        </dd>
        <hr>
        <dt><span translate="openBoxApp.moduleBounds.colSpan">ColSpan</dt></dt>
        <dd>
            <span>{{vm.moduleBounds.colSpan}}<span>
        </dd>
        <hr>
        <dt><span translate="openBoxApp.moduleBounds.module">module</span></dt>
        <dd>
            <a ui-sref="module-detail({id:vm.moduleBounds.moduleId})">{{vm.moduleBounds.moduleId}}</a>
        </dd>
        <hr>
        <dt><span translate="openBoxApp.moduleBounds.userDashboard">userDashboard</span></dt>
        <dd>
            <a ui-sref="user-dashboard-detail({id:vm.moduleBounds.userDashboardId})">{{vm.moduleBounds.userDashboardId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
