<div>
    <h2 translate="openBoxApp.moduleBounds.home.title">ModuleBounds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="module-bounds.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="openBoxApp.moduleBounds.home.createLabel">
                        Create new ModuleBounds
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rowPos"><span translate="openBoxApp.moduleBounds.rowPos">RowPos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="colPos"><span translate="openBoxApp.moduleBounds.colPos">ColPos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rowSpan"><span translate="openBoxApp.moduleBounds.rowSpan">RowSpan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="colSpan"><span translate="openBoxApp.moduleBounds.colSpan">ColSpan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="moduleId"><span translate="openBoxApp.moduleBounds.module">module</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userDashboardId"><span translate="openBoxApp.moduleBounds.userDashboard">userDashboard</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="moduleBounds in vm.moduleBounds track by moduleBounds.id">
                    <td><a ui-sref="module-bounds-detail({id:moduleBounds.id})">{{moduleBounds.id}}</a></td>
                    <td>{{moduleBounds.rowPos}}</td>
                    <td>{{moduleBounds.colPos}}</td>
                    <td>{{moduleBounds.rowSpan}}</td>
                    <td>{{moduleBounds.colSpan}}</td>
                    <td>
                        <a ui-sref="module-detail({id:moduleBounds.moduleId})">{{moduleBounds.moduleId}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-dashboard-detail({id:moduleBounds.userDashboardId})">{{moduleBounds.userDashboardId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="module-bounds-detail({id:moduleBounds.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="module-bounds.edit({id:moduleBounds.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="module-bounds.delete({id:moduleBounds.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
