
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModuleBoundsLabel" translate="openBoxApp.moduleBounds.home.createOrEditLabel">Create or edit a ModuleBounds</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.moduleBounds.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.moduleBounds.rowPos" for="field_rowPos">RowPos</label>
            <input type="number" class="form-control" name="rowPos" id="field_rowPos"
                    ng-model="vm.moduleBounds.rowPos"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.moduleBounds.colPos" for="field_colPos">ColPos</label>
            <input type="number" class="form-control" name="colPos" id="field_colPos"
                    ng-model="vm.moduleBounds.colPos"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.moduleBounds.rowSpan" for="field_rowSpan">RowSpan</label>
            <input type="number" class="form-control" name="rowSpan" id="field_rowSpan"
                    ng-model="vm.moduleBounds.rowSpan"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="openBoxApp.moduleBounds.colSpan" for="field_colSpan">ColSpan</label>
            <input type="number" class="form-control" name="colSpan" id="field_colSpan"
                    ng-model="vm.moduleBounds.colSpan"
                     />
        </div>

        <div class="form-group">
            <label translate="openBoxApp.moduleBounds.module" for="field_module">module</label>
            <select class="form-control" id="field_module" name="module" ng-model="vm.moduleBounds.moduleId" ng-options="module.id as module.id for module in vm.modules">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="openBoxApp.moduleBounds.userDashboard" for="field_userDashboard">userDashboard</label>
            <select class="form-control" id="field_userDashboard" name="userDashboard" ng-model="vm.moduleBounds.userDashboardId" ng-options="userDashboard.id as userDashboard.id for userDashboard in vm.userdashboards">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
